body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#array-container {
    display: flex;
    gap: 2px;
}

.bar {
    background-color: #3498db;
    border: 1px solid #2980b9;
    display: inline-block;
    margin: 0 1px;
    height: 30px;
}
